@font-face 
{
    font-family: Blazed;
    src: url('/resources/Blazed.ttf');   
}

@font-face
{
    font-family: Walt;
    src: url('/resources/waltographUI.ttf');
}

@font-face
{
    font-family: Anja;
    src: url('/resources/AnjaEliane.ttf');
}

.tab-pane
{
    -fx-side: LEFT;
    -fx-tab-max-height: 150px;
    -fx-tab-min-height: 150px;
    -fx-tab-max-width: 80px;
    -fx-tab-min-width: 80px; 
    -fx-background-color: white;
}
.tab-pane .tab
{
    -fx-background-color: linear-gradient(to left, #d6d6d6 0%, #ffffff 25%, #ffffff 75%, #d6d6d6 100%);
    -fx-focus-color: linear-gradient(to bottom, black 0%, #d6d6d6 50%);
}

.tab-pane *.tab-header-background
{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ffffff 0%, #d6d6d6 100%);
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0 , 0 , 2 );
}

.tab-pane .tab:hover
{
    -fx-background-radius: 15, 15;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.tab-content-area
{
    -fx-background-color: linear-gradient(to top, #708090 0% , #b0c4de 20% , 
        #e6e6fa 35% , #ffffff 50% , #e6e6fa 65% , #b0c4de 80% , #708090 100% );
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 16, 0 , 0 , 2 );
}

.separator .line
{
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-border-color: linear-gradient(to left, #b0c4de 0%, #ffffff 25%, #ffffff 75%, #b0c4de 100%);
}

.label
{
    -fx-font-family: Anja;
    -fx-font-size: 18;
}

.accordion .titled-pane
{
    //-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

.accordion .titled-pane > *.content 
{
   -fx-background-color: null;
   -fx-border-color: #708090;
   -fx-border-radius: 10;
   -fx-border-width: 1;
}

.accordion .titled-pane > .title
{
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,2;
    -fx-background-color: null;
    -fx-font-size: 20;
    -fx-font-family: 'arial';
    -fx-text-fill: linear-gradient(to bottom, #b0c4de 10% , #ffffff 50% , #b0c4de 100% );
}

.accordion .titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: cornflowerblue;
}

.text-field
{
    -fx-font-family: 'arial';
    -fx-font-size: 15;
    -fx-background-color: white, white, white;
    -fx-background-insets: 0 0 -1 0, 0 , 1 , 2;
    -fx-border-color: #dae5eb;
    -fx-focus-color: blue;
}

.combo-box
{
    -fx-background-color: white, white, white;
    -fx-background-radius: 5;
    -fx-background-insets: 0 0 -1 0, 0 , 1 , 2;
    -fx-font-family: 'arial';
    -fx-font-size: 15;
}

.combo-box:hover
{
    -fx-background-color: #dae5eb;
}

.combo-box:pressed
{
    -fx-background-color: #dae5eb;
}

.combo-box:showing
{
   -fx-background-color: linear-gradient(to bottom, #dae5eb 0%, white 75%); 
}

.combo-box .list-cell
{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.table-view
{
    -fx-font-family: 'arial';
}

.table-view .table-column
{
    -fx-background-color: transparent;
}

.table-view > .column-header-background
{
    -fx-background-color: white, white, white;
    -fx-background-radius: 5;
    -fx-background-insets: 0 0 -1 0, 0 , 1 , 2;
    -fx-border-color: #dae5eb;
}

.text-area
{
    -fx-background-color: transparent;
    -fx-font-family: Arial Black;
    -fx-font-size: 17;
    -fx-border-color: #708090;
    -fx-border-radius: 10;
    -fx-border-width: 1;
}

.text-area .scroll-pane 
{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport
{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content
{
    -fx-background-color: transparent;
}

.text-area .scroll-bar
{
    -fx-opacity: 0;
}

.slider .track 
{
    -fx-background-color: white;  
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.5em; 
    -fx-border-color: #d2691e;
}

.slider .thumb
{
    -fx-background-color: white;
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.7em; 
    -fx-border-color: #d2691e;
}


#dark-blue 
{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial Black";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
#dark-blue Text 
{
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

#dark-blue:hover
{
    -fx-background-color: linear-gradient(to top, #b0c4de, #e6e6fa);
    -fx-text-fill: black;
}

/* GridPanes Title */
#title
{
    -fx-text-fill: linear-gradient(to bottom, #b0c4de 10% , #ffffff 50% , #b0c4de 100% );
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-family: 'Blazed';
    -fx-font-size: 32;
}

/* PopOvers Title */
#title_2
{
    -fx-font-family: 'arial black';
    -fx-font-size: 24;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 1);
}

/* Tela de Boas Vindas */
#title_3
{
    -fx-font-family: 'Blazed';
    -fx-font-size: 38;
    -fx-text-fill: radial-gradient(center 50% 0%, radius 100%, #38424b, #191d22);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    //-fx-effect: dropshadow(gaussian, white, 5, 1, 1, 1);
}

#msg-inicial
{
    -fx-font-family: Walt;
    -fx-font-size: 25;
}

#btn-add 
{
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-text-fill: black;
    -fx-graphic: url('/resources/add.png');
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-min-height: 22;
    -fx-max-height: 22;
    -fx-min-width: 25;
    -fx-max-width: 25;
}

#btn-add:hover
{
    -fx-background-color: #dae5eb;
}

#btn-add:active
{
    -fx-background-color: #dae5eb;
}

#button-cell
{
    -fx-background-color: #dae5eb;
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,2,0;
    -fx-font-family: 'arial';
}

#button-cell:hover
{
    -fx-background-color: aliceblue;
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,2,0;
    -fx-border-color: #708090;
    -fx-border-radius: 5;
    -fx-font-family: 'arial';
}

#fundo-padrao
{
    -fx-background-color: linear-gradient(to top, #e6e6fa 0%, #b0c4de 50%);
    -fx-background-insets: 2,2,2,2;
}

#btn-tutorial
{
    -fx-background-color: linear-gradient(to bottom, #f2f6f8, #b5c6d0 52% , #d8e1e7 79% , #e0eff9 100% );
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 15;
    -fx-font-family: 'verdana';
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#btn-tutorial:hover
{
    -fx-background-color: linear-gradient(to bottom, #f2f6f8, #e0ffff 52% , #e0eff9 100% );
}

#btn-tutorial:pressed
{
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#lbl-about
{
    -fx-effect: dropshadow(gaussian, #708090, 0, 1, 1, 1);
    -fx-background-color: transparent;
    -fx-font-family: 'verdana';
    -fx-font-weight: bold;
    -fx-font-size: 17;
    -fx-border-color: #708090;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-background-insets: 10,10,10,10;
    -fx-padding: 20px;
}

#btn-play
{
    -fx-background-color: transparent;
}

#lbl-timer
{
    -fx-text-fill: #d2691e;
    //-fx-effect: dropshadow(gaussian, black, 1, 1, 1, 1);
    -fx-font-family: 'verdana';
    -fx-font-size: 18;
    -fx-font-weight: bold;
}


